
#logo
{
    height:3.5vw;
    padding-left: 2vw;
    border:none;
}

#header
{
    height: 40px;
    width:97%;
    padding: 1.2vw 2vw;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.head_button
{
    font-family: Arial, sans-serif;
    background-color: transparent;
    border: none;
    font-size: clamp(14px, 1.2vw, 18px);
    cursor: pointer;
}

.head_button:hover
{
    background-color: #CB3737;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

#menu 
{
    display: flex;
    gap: clamp(20px, 4vw, 60px);
    flex-wrap: wrap;
    justify-content: center;
}

#profile
{
    display:flex;
    align-items: center;
    gap:0.7vw;
    padding-right: 1vw;
}

#pfp
{
    height:  clamp(40px, 4vw, 60px);
}
#username
{
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: clamp(14px, 1.3vw, 18px);
    color:#CB3737;
}